{% extends 'AppCoder/index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block 'section'  %}
    <section class="link3">
        Pagina Link 3
    </section>        
{% endblock 'section' %}

<p> Estamos buscando el usuario con dni : {{dni}}</p>
{{% if usuarios %}
<ul>
{% for usuario in usuarios %}
    <li> {{usuario.nombre}} </li>
    <li> {{usuario.apellido}}</li>
{% endfor %}
</ul>
{% endif %}}  
</body>
</html>

